@media only screen and  (max-width:900px) {

    .iconsManu{
        display: block;
        margin-right: 50px;
    }
    .noneLi{
        display: none;
    }
    .navulli{
        padding: 10px 41px;
    }
    .shopCss{
        flex: 0.3;
    }
}