.quickall{
  width: 150%;
  margin: 0 auto;
  display: flex;
  position: relative;
  padding:50px 50px;
  background-color: white;
}
.close{
  position: absolute !important;
  top: 5px !important;
  right: 10px !important;
  .Xclose{
    font-size: 30px !important;
    color: black !important;
  }
}
.quickall{

  h2{
    color: #0FC3A4;
    font-size: 40px;
  }
  .priCe{
    font-size: 23px;
    font-weight: 500;
    margin-top: 7px;
  }
  span{
    font-size: 15px;
  }
  .inpChek{
    margin-top: 15px;
    .InpTxt{
      padding:5px 15px;
      border-radius: 5px;
      border:1px solid black;
      &::placeholder{
        color: #0FC3A4;
      }
    }
    .InpSub{
      background: black;
      padding: 5px 15px;
      border-radius: 5px;
      color: white;
      font-weight: bold;
      border:1px solid transparent;
      margin-left: 10px;
      &:hover{
        background-color: #0FC3A4;
        transition: .7s;
      }
    }
  }
}
.SelectOp{
  p{
    font-weight: 500;
    margin-top: 15px;
  }
  select{
    padding: 5px 15px;
    border:1px solid black;
    outline: none;
    border-radius: 5px;
  }
}
.ToShop{
  background-color: #0FC3A4;
  border:1px solid #0FC3A4;
  color: white;
  margin-top: 15px;
  border-radius: 5px;
  font-weight: bold;
  padding: 5px 10px;
  &:hover{
    background-color: white ;
    color: black;
    border:1px solid black;
  }
}
.descript{
  width: 80%;
}